.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.login-form {
    margin: 0 auto;
    padding: 30px 30px;
    max-width: 1200px;
}

.login-form__heading {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 23px;
}

.form {
    margin: 0px auto;
    text-align: center;
    width: 40%
}

.form__group {
    margin-bottom: 10px;
    text-align: left;
    padding: 15px 0px;
}

.form__group--content input {
    padding: 6px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
}

.form__group--title {
    font-weight: bold;
}

.button-area {
    margin-top: 40px;
}

.form-btn {
    padding: 10px 0;

}

.form-btn__submit {
    width: 100%;
    padding: 7px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background: #FE5454;
    border: none;
    border-radius: 3px;
}

.login-link__item {
    text-decoration: none;
    font-size: 13px;
    color: #1a81d4;
}

.login-form__error-message {
    color: #FE5454;
}