.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header-logo {
    display: flex;
    align-items: center;
}


.result-content {
    text-align: center;
    padding: 40px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.result-text {
    font-weight: bold;
    font-size: 14px;
}

.verify-btn {
    margin: 30px;
}

.verify-btn__item {
    display:inline-block;
    font-weight: bold;
    padding: 8px 18px;
    background-color: #D9D9D9;
    color: #000;
    text-decoration: none;
    border: 0.7px solid #000;
    border-radius: 4px;
}

.resend-link-item {
    border: none;
    background: none;
    margin-top: 20px;
    text-decoration: none;
    color: #1F7FD8;
    font-size: 14px;
}